.App {
  text-align: center;
}


.loading{
  height: 100vh;
  line-height: 80vh;
  text-align: center;

  background-color: #fff;
}

.active{
  background-color: #000;
  color: #fff !important;
  font-weight: bolder;
  border-radius: 10px;

  background-size: cover;
  background-position: center;
}


@media (max-width: 767.98px) { 
    
}

@media (max-width: 991.98px) { 

}

